{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
        "resolve": "mutation.createNote",
        "context": {
            "arguments": {
                "text": "${context.arguments.text}",
                "done": $util.toJson(${context.arguments.done}),
            },
        }
    }
}