{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "resolve": "query.listNotes",
    "context": {
      "arguments": {
        "id": $utils.toJson($context.arguments.params.id),
        "text": $utils.toJson($context.arguments.params.text),
        "done": $utils.toJson($context.arguments.params.done),
        "params": $utils.toJson($context.arguments.params.params)
      }
    }
  }
}